<div class="d-flex gap-3">
  <div class="flex-fill">
    <label class="form-label">距離(km)</label>
    <%= number_field_tag "",
          set&.distance,
          step: 0.1,
          class: "form-control",
          data: { cardio_set_create_target: "distance",
                  action: "input->cardio-set-create#saveDraft" } %>
  </div>

  <div class="flex-fill">
    <label class="form-label">時間(分)</label>
    <%= text_field_tag "",
          set&.duration,
          class: "form-control",
          data: { cardio_set_create_target: "duration",
                  action: "input->cardio-set-create#saveDraft" } %>
  </div>
</div>

<div class="d-flex gap-3 mt-2">
  <div class="flex-fill">
    <label class="form-label">消費カロリー(kcal)</label>
    <%= number_field_tag "",
          set&.calories,
          class: "form-control",
          data: { cardio_set_create_target: "calories",
                  action: "input->cardio-set-create#saveDraft" } %>
  </div>

  <div class="flex-fill">
    <label class="form-label">ペース(km/h)</label>
    <%= number_field_tag "",
          set&.pace,
          step: 0.1,
          class: "form-control",
          data: { cardio_set_create_target: "pace",
                  action: "input->cardio-set-create#saveDraft" } %>
  </div>
</div>

<div class="mt-2">
  <label class="form-label">メモ</label>
  <%= text_area_tag "",
        set&.memo,
        rows: 1,
        class: "form-control",
        data: { cardio_set_create_target: "memo",
                action: "input->cardio-set-create#saveDraft" } %>
</div>
