<div class="d-flex gap-2 flex-wrap">
  <%= number_field_tag "",
        set&.distance,
        step: 0.1,
        placeholder: "距離(km)",
        class: "form-control",
        data: { cardio_set_create_target: "distance",
                action: "input->cardio-set-create#saveDraft" } %>

  <%= text_field_tag "",
        set&.duration,
        placeholder: "時間",
        class: "form-control",
        data: { cardio_set_create_target: "duration",
                action: "input->cardio-set-create#saveDraft" } %>

  <%= number_field_tag "",
        set&.calories,
        placeholder: "kcal",
        class: "form-control",
        data: { cardio_set_create_target: "calories",
                action: "input->cardio-set-create#saveDraft" } %>

  <%= number_field_tag "",
        set&.pace,
        step: 0.1,
        placeholder: "km/h",
        class: "form-control",
        data: { cardio_set_create_target: "pace",
                action: "input->cardio-set-create#saveDraft" } %>
</div>

<div class="mt-2">
  <%= text_area_tag "",
        set&.memo,
        rows: 1,
        placeholder: "メモ",
        class: "form-control",
        data: { cardio_set_create_target: "memo",
                action: "input->cardio-set-create#saveDraft" } %>
</div>
