<h2><%= @exercise.name %>（有酸素）</h2>

<%= form_with model: @cardio_workout, url: cardio_workouts_path do |f| %>
  <%= f.hidden_field :exercise_id, value: @exercise.id %>
  <%= f.hidden_field :performed_on, value: @date %>

  <div>
    <label>距離（km）</label>
    <%= number_field_tag "cardio_set[distance]", nil, step: 0.01 %>
  </div>

  <div>
    <label>時間（分）</label>
    <%= number_field_tag "cardio_set[duration]" %>
  </div>

  <div>
    <label>カロリー</label>
    <%= number_field_tag "cardio_set[calories]" %>
  </div>

  <div>
    <label>ペース（km/h）</label>
    <%= number_field_tag "cardio_set[pace]", nil, step: 0.01 %>
  </div>

  <div>
    <label>メモ</label>
    <%= text_area_tag "cardio_set[memo]" %>
  </div>

  <%= f.submit "記録する" %>
<% end %>
