<div class="exercise-title-card mb-3 p-3 position-relative text-center">
    <h3 class="m-0"><%= @exercise.name %></h3>

    <a
      href="#"
      data-bs-toggle="modal"
      data-bs-target="#help-set-modal"
      class="btn btn-secondary btn-sm position-absolute top-50 end-0 translate-middle-y me-3"
    >
      ？
    </a>
</div>

<div id="set_form_errors"></div>

<div class="exercise-card">

  <%= form_with model: @workout, url: workouts_path, html: { novalidate: true } do |f| %>

    <%= f.hidden_field :workout_date %>
    <%= hidden_field_tag "exercise_id", @exercise.id %>

    <div data-controller="sets" data-sets-date-value="<%= params[:date] %>">

      <% if @previous_sets.present? %>
        <div class="previous-workout-card">
          <div class="previous-workout-header">
            <span class="previous-workout-date">
              前回 <%= @previous_workout.workout_date.strftime("%Y/%m/%d") %>
            </span>
      
            <button
              type="button"
              class="btn btn-outline-light btn-sm previous-workout-copy"
              data-action="click->sets#copyPrevious"
              data-previous-sets="<%= h(@previous_sets.map { |s|
                { weight: s.weight, reps: s.reps }
              }.to_json) %>"
              aria-label="前回のセットをコピー"
            >
              <i data-lucide="repeat"></i> 前回値をコピー
            </button>
          </div>
      
          <div class="previous-workout-sets">
            <% @previous_sets.each do |set| %>
              <span class="previous-set-chip">
                <%= set.weight %>kg × <%= set.reps %>
              </span>
            <% end %>
          </div>
        </div>
      <% end %>
  
      <div class="floating-back" data-action="click->sets#commitOrBack">←</div>

      <div data-sets-target="list">
      </div>

      <template data-sets-target="template">
        <div class="set-input-row mb-3 p-3 rounded"
             data-controller="workout-set-create"
             data-workout-set-create-date-value="<%= params[:date] %>"
             data-workout-set-create-exercise-id-value="<%= @exercise.id %>">

          <div class="set-number-label mb-2 fw-bold" data-sets-target="number">
            セット1
          </div>

          <%= render "shared/sets/input_fields" %>
        </div>
      </template>

      <button type="button"
              class="btn btn-secondary w-100 mt-2"
              data-action="sets#add">
        ＋ セットを追加
      </button>

    </div>

  <% end %>

</div>

<%= render "shared/help/set" %>