<h2><%= @workout.workout_date %> のトレーニング</h2>
<p><strong>メモ:</strong> <%= simple_format(@workout.notes) %></p>

<%= link_to "編集", edit_workout_path(@workout), class: "btn btn-secondary" %>
<%= link_to "削除", workout_path(@workout),
            data: { turbo_method: :delete, turbo_confirm: "削除しますか？" },
            class: "btn btn-danger" %>

<hr>

<h3 class="mt-4">セット記録</h3>

<%= link_to "新しいセットを追加", new_workout_workout_set_path(@workout),
            class: "btn btn-warning mb-3" %>

<% if @workout.workout_sets.any? %>
  <% @exercise_sets.each do |exercise, sets| %>
    <div class="card bg-dark text-light mb-3 p-3">
      <h4><%= exercise.name %>（<%= sets.size %>セット）</h4>
  
      <ul class="list-unstyled mt-2">
        <% sets.each_with_index do |set, i| %>
          <li>
            <strong><%= i + 1 %>セット目:</strong>
            <%= set.weight %>kg × <%= set.reps %>回
            <% if set.memo.present? %>
              （<%= truncate(set.memo, length: 20) %>）
            <% end %>
          </li>
        <% end %>
      </ul>
  
    </div>
  <% end %>  
<% else %>
  <p>まだセットが登録されていません。</p>
<% end %>
