<div id="calendar-root"></div>

<div class="d-flex justify-content-end mt-2">
  <a href="#" data-bs-toggle="modal" data-bs-target="#help-calendar-modal" class="btn btn-secondary btn-sm">
    このカレンダーの見方
  </a>
</div>

<div class="mt-4">

  <% if @today_workout.present? %>
    <%= link_to workout_path(@today_workout),
                class: "btn btn-primary w-100 mb-3" do %>
      今日のトレーニングを記録する
    <% end %>

  <% elsif @today_cardio.present? %>
    <%= link_to by_date_workouts_path(date: @today),
                class: "btn btn-primary w-100 mb-3" do %>
      今日のトレーニングを記録する
    <% end %>

  <% else %>
    <%= link_to select_exercise_workouts_path(date: @today),
                class: "btn btn-primary w-100 mb-3" do %>
      今日のトレーニングを記録する
    <% end %>
  <% end %>

</div>

<% if @today_workout.present? || @today_cardio.present? %>
  <%= render "calendars/today_workout", workout: @today_workout, cardio_workout: @today_cardio %>
<% end %>

<%= render "shared/help/calendar" %>